---
const siteTitle = Astro.site!!.host;
---

<nav
  class="sticky top-0 border-b-2 border-gray-900/10 bg-gray-50 p-4 pl-6 dark:border-gray-950/50 dark:bg-gray-900"
>
  <a
    class="font-mono text-2xl font-bold text-gray-900 transition-opacity hover:opacity-60 dark:text-white"
    href="/"
  >
    {siteTitle}
  </a>
</nav>
